[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
scipy = "*"
statsmodels = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
minisom = "*"

[dev-packages]

[requires]
python_version = "3.11"
